# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
env/
venv/
.env
*.env
.DS_Store
migrations/

staticfiles/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Сборка
dist/
build/
*.tmp
*.cache
postgres_data/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Локальные настройки
*.local
*.env