.body{ 
    background-image:  url("background.jpg"); 
    background-size: cover; 
} 
.form{ 
    margin-top: 17%; 
    align-items: center; 
    margin-left: 30%; 
    background-color:lightgreen; 
    border-radius: 10px; 
} 
.text1{ 
margin-left: 35%; 
} 
.but2{ 
    background-color: green; 
    margin-left: 100%; 
     
} 
.but1{ 
    background-color: white; 
    color:green; 
    border: 1px solid green; 
    margin-block-end: 5%; 
    margin-left: -140%; 
}